In [7]:
# import libraries
import pandas as pd
import numpy as np
import os

In [8]:
path = r'/Users/danielmccormick/Desktop/CareerFoundry/Python/08-23 Instacart Basket Analysis'

In [9]:
# importing dataset that was exported at the end of Exercise 4.7
ords_prods_merge = pd.read_pickle(os.path.join(path, 'IC_Data', 'IC_prepared_data', 'orders_products_updated.pkl'))

In [10]:
# creating a data frame of the first 1M rows
df = ords_prods_merge[:1000000]

In [11]:
df.shape

(1000000, 18)

In [12]:
df.head()

,order_id,user_id,user_order_count,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge,price_range_loc,busiest_day,busiest_days,busiest_period_of_day
0,2539329,1,1,2,8,NaN,196,1,0,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Normal Busyness Days,Average Orders
1,2398795,1,2,3,7,15.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Less Busy Days,Average Orders
2,473747,1,3,3,12,21.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Less Busy Days,Average Orders
3,2254736,1,4,4,7,29.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Least busy,Less Busy Days,Average Orders
4,431534,1,5,4,15,28.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Least busy,Less Busy Days,Most Orders

In [13]:
# using groupby to create a pandas object
df.groupby('product_name')

In [14]:
# using group by with agg to determine that average number of orders per user within each department 
df.groupby('department_id').agg({'user_order_count': ['mean']})

              user_order_count
                          mean
department_id
4                    18.825780
7                    17.472355
13                   17.993423
14                   19.246334
16                   19.463012
17                   11.294069
19                   19.305237
20                   17.599636

In [15]:
# using .mean() rather than agg() to get the same results as the previous script 
df.groupby('department_id')['user_order_count'].mean()

department_id
4     18.825780
7     17.472355
13    17.993423
14    19.246334
16    19.463012
17    11.294069
19    19.305237
20    17.599636
Name: user_order_count, dtype: float64

In [16]:
# using agg with mean, min, and max to to get those stats by deparment ID 
df.groupby('department_id').agg({'user_order_count': ['mean', 'min', 'max']})

              user_order_count
                          mean min max
department_id
4                    18.825780   1  99
7                    17.472355   1  99
13                   17.993423   1  99
14                   19.246334   1  99
16                   19.463012   1  99
17                   11.294069   1  98
19                   19.305237   1  99
20                   17.599636   1  99

In [17]:
# creating a new column "max_order" that will list the total number of orders associated with each user_id
# this can then be used to create a flag for each row based on their total number of orders 
ords_prods_merge['max_order'] = ords_prods_merge.groupby(['user_id'])['user_order_count'].transform(np.max)

In [18]:
ords_prods_merge.head(50)

,order_id,user_id,user_order_count,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge,price_range_loc,busiest_day,busiest_days,busiest_period_of_day,max_order
0,2539329,1,1,2,8,NaN,196,1,0,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Normal Busyness Days,Average Orders,10
1,2398795,1,2,3,7,15.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Less Busy Days,Average Orders,10
2,473747,1,3,3,12,21.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Less Busy Days,Average Orders,10
3,2254736,1,4,4,7,29.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Least busy,Less Busy Days,Average Orders,10
4,431534,1,5,4,15,28.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Least busy,Less Busy Days,Most Orders,10
5,3367565,1,6,2,7,19.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Normal Busyness Days,Average Orders,10
6,550135,1,7,1,9,20.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Busier Days,Average Orders,10
7,3108588,1,8,1,14,14.0,196,2,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Busier Days,Most Orders,10
8,2295261,1,9,1,16,0.0,196,4,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Busier Days,Average Orders,10
9,2550362,1,10,4,8,30.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Least busy,Less Busy Days,Average Orders,10
10,2968173,15,15,1,9,7.0,196,2,0,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Busier Days,Average Orders,22
11,1870022,15,17,2,16,8.0,196,6,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Normal Busyness Days,Average Orders,22
12,1911383,15,18,2,11,7.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Normal Busyness Days,Most Orders,22
13,2715276,15,21,1,9,7.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Busier Days,Average Orders,22
14,487368,15,22,1,10,14.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Busier Days,Most Orders,22
15,2293453,19,2,5,14,6.0,196,3,0,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Normal Busyness Days,Most Orders,9
16,1973799,19,5,6,12,8.0,196,15,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Normal Busyness Days,Average Orders,9
17,532817,19,7,4,17,6.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Least busy,Less Busy Days,Average Orders,9
18,1573906,21,10,3,10,6.0,196,2,0,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Less Busy Days,Most Orders,33
19,1593000,31,10,3,8,7.0,196,17,0,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Less Busy Days,Average Orders,20
20,2231262,31,17,3,11,8.0,196,14,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Less Busy Days,Most Orders,20
21,2580647,43,6,4,16,4.0,196,9,0,Soda,77,7,9.0,both,Mid-range product,Least busy,Less Busy Days,Average Orders,11
22,2187180,43,9,4,12,3.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Least busy,Less Busy Days,Average Orders,11
23,2497897,52,1,1,9,NaN,196,4,0,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Busier Days,Average Orders,27
24,1318871,52,2,1,10,7.0,196,5,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Busier Days,Most Orders,27
25,1261384,52,3,1,10,7.0,196,3,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Busier Days,Most Orders,27
26,580568,52,5,2,10,8.0,196,6,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Normal Busyness Days,Most Orders,27
27,2428073,52,7,2,7,8.0,196,5,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Normal Busyness Days,Average Orders,27
28,342306,52,9,1,11,7.0,196,5,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Busier Days,Most Orders,27
29,1520353,52,10,2,10,8.0,196,4,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Normal Busyness Days,Most Orders,27
30,2542086,52,11,2,9,7.0,196,3,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Normal Busyness Days,Average Orders,27
31,944694,52,12,1,16,6.0,196,7,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Busier Days,Average Orders,27
32,1268191,52,15,2,11,8.0,196,3,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Normal Busyness Days,Most Orders,27
33,1122089,52,17,2,10,6.0,196,4,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Normal Busyness Days,Most Orders,27
34,1498922,52,18,2,10,14.0,196,6,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Normal Busyness Days,Most Orders,27
35,180919,52,19,3,8,8.0,196,4,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Less Busy Days,Average Orders,27
36,2695875,52,21,5,10,30.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Normal Busyness Days,Most Orders,27
37,3205960,67,1,3,11,NaN,196,1,0,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Less Busy Days,Most Orders,24
38,970922,67,2,1,15,5.0,196,2,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Busier Days,Most Orders,24
39,596585,67,3,1,13,7.0,196,2,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Busier Days,Average Orders,24
40,2037087,67,4,2,9,8.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Normal Busyness Days,Average Orders,24
41,2474111,67,5,3,14,8.0,196,2,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Less Busy Days,Most Orders,24
42,1568481,67,6,3,12,7.0,196,2,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Less Busy Days,Average Orders,24
43,2048527,67,8,2,11,7.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Normal Busyness Days,Most Orders,24
44,2389031,67,9,2,14,7.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Normal Busyness Days,Most Orders,24
45,2378562,67,10,1,10,6.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Busier Days,Most Orders,24
46,1515698,67,11,1,11,7.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Busier Days,Most Orders,24
47,1928050,67,12,2,12,8.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Normal Busyness Days,Average Orders,24
48,1949274,67,13,1,10,6.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Busier Days,Most Orders,24
49,551869,67,14,1,9,7.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Busier Days,Average Orders,24

In [19]:
# not actually using this, but this makes it so there is no limit on the amount of rows shown in the .head() 
pd.options.display.max_rows = None

In [20]:
# using .loc with the newly created max_order column to create a flag for each row based on total number of orders
# associated with each user_id. 
ords_prods_merge.loc[ords_prods_merge['max_order'] > 40, 'loyalty_flag'] = 'Loyal Customer'
ords_prods_merge.loc[(ords_prods_merge['max_order'] <= 40) & (ords_prods_merge['max_order'] > 10), 'loyalty_flag'] = 'Regular Customer'
ords_prods_merge.loc[ords_prods_merge['max_order'] <= 10, 'loyalty_flag'] = 'New Customer'

In [21]:
ords_prods_merge.head()

,order_id,user_id,user_order_count,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge,price_range_loc,busiest_day,busiest_days,busiest_period_of_day,max_order,loyalty_flag
0,2539329,1,1,2,8,NaN,196,1,0,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Normal Busyness Days,Average Orders,10,New Customer
1,2398795,1,2,3,7,15.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Less Busy Days,Average Orders,10,New Customer
2,473747,1,3,3,12,21.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Less Busy Days,Average Orders,10,New Customer
3,2254736,1,4,4,7,29.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Least busy,Less Busy Days,Average Orders,10,New Customer
4,431534,1,5,4,15,28.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Least busy,Less Busy Days,Most Orders,10,New Customer

In [22]:
ords_prods_merge['loyalty_flag'].value_counts(dropna = False)

Regular Customer    15876776
Loyal Customer      10284093
New Customer         6243990
Name: loyalty_flag, dtype: int64

In [23]:
# copying the loyalty_flag frequency table to Excel for further analysis 
loyalty_flag_table = ords_prods_merge['loyalty_flag'].value_counts(dropna = False)
loyalty_flag_table.to_clipboard()

In [17]:
# using a list of column names to call the head function for only three of the columns in our data frame 
ords_prods_merge[['user_id', 'loyalty_flag', 'user_order_count']].head(60)

    user_id      loyalty_flag  user_order_count
0         1      New Customer                 1
1         1      New Customer                 2
2         1      New Customer                 3
3         1      New Customer                 4
4         1      New Customer                 5
5         1      New Customer                 6
6         1      New Customer                 7
7         1      New Customer                 8
8         1      New Customer                 9
9         1      New Customer                10
10       15  Regular Customer                15
11       15  Regular Customer                17
12       15  Regular Customer                18
13       15  Regular Customer                21
14       15  Regular Customer                22
15       19      New Customer                 2
16       19      New Customer                 5
17       19      New Customer                 7
18       21  Regular Customer                10
19       31  Regular Customer                10
20       31  Regular Customer                17
21       43  Regular Customer                 6
22       43  Regular Customer                 9
23       52  Regular Customer                 1
24       52  Regular Customer                 2
25       52  Regular Customer                 3
26       52  Regular Customer                 5
27       52  Regular Customer                 7
28       52  Regular Customer                 9
29       52  Regular Customer                10
30       52  Regular Customer                11
31       52  Regular Customer                12
32       52  Regular Customer                15
33       52  Regular Customer                17
34       52  Regular Customer                18
35       52  Regular Customer                19
36       52  Regular Customer                21
37       67  Regular Customer                 1
38       67  Regular Customer                 2
39       67  Regular Customer                 3
40       67  Regular Customer                 4
41       67  Regular Customer                 5
42       67  Regular Customer                 6
43       67  Regular Customer                 8
44       67  Regular Customer                 9
45       67  Regular Customer                10
46       67  Regular Customer                11
47       67  Regular Customer                12
48       67  Regular Customer                13
49       67  Regular Customer                14
50       67  Regular Customer                16
51       67  Regular Customer                18
52       67  Regular Customer                19
53       67  Regular Customer                21
54       67  Regular Customer                22
55       67  Regular Customer                23
56       81      New Customer                 3
57       81      New Customer                 5
58       82  Regular Customer                 1
59       82  Regular Customer                 3

In [20]:
ords_prods_merge.to_pickle(os.path.join(path, 'IC_Data', 'IC_prepared_data', 'orders_products_updated_4.8.pkl'))